*{
  margin: 0;
  padding: 0%;
}
#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
}
.main{
  flex-grow: 1;
}
.header{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: green;

}
.header .logo {
  width: 32px;
}

.footer{
  height: 10em;
  background-color: seagreen;
  position: absolute;
  bottom: 0;
  width: 100%;
}